[submodule "jingyue_latents"]
	path = jingyue_latents
	url = https://github.com/pnlong/jingyue_latents
[submodule "musetok"]
	path = musetok
	url = https://github.com/Yuer867/MuseTok
[submodule "midi2vec"]
	path = midi2vec
	url = https://github.com/midi-ld/midi2vec
